<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodes App</title>
</head>
<body>
    <h1>Welcome to flask home</h1>

    <ul>
        {% for note in notes %}
        <li>
            {{ note.title }}<br>
            {{ note.content }}
            <a href=" {{ url_for('edit_note', id=note.id)}}">
                Editar
            </a><br>
            <form action="{{ url_for('delete_note', id=note.id)}}" method="post">
                <button type="submit">Eliminar</button>
            </form>
        </li><br>
        {% else %}
        <li>No hay notas</li>
        {% endfor %}
    </ul>
    
    <a href="{{ url_for('create_note') }}">Crear una nueva nota</a>

</body>
</html>